<?xml version="1.0" encoding="UTF-8"?>

<!-- Spring configuration for application -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:security="http://www.springframework.org/schema/security" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd"
	default-lazy-init="true">

	<security:http pattern="/css/**" security="none" />
	<security:http pattern="/img/**" security="none" />
	<security:http pattern="/js/**" security="none" />
	<security:http pattern="/audio/**" security="none" />
	<security:http pattern="/font/**" security="none" />
	<security:http pattern="/static/**" security="none" />
	<security:http pattern="/misc/**" security="none" />
	<security:http pattern="/" auto-config='true'>
		<security:anonymous username="anonymousUser" granted-authority="ROLE_ANONYMOUS" enabled="true" />
		<security:remember-me key="slmKey" token-validity-seconds="864000" user-service-ref="userDetailsService"
			remember-me-parameter="_spring_security_remember_me" /><!-- 864000 s = 10 days -->
	</security:http>
	<security:http auto-config='true' entry-point-ref="authenticationEntryPoint" access-denied-page="/login?error=true">
		<security:anonymous username="anonymousUser" granted-authority="ROLE_ANONYMOUS" enabled="true" />
		<security:intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
		<security:intercept-url pattern="/artist/**" access="ROLE_ARTIST,ROLE_ADMIN" />
		<security:intercept-url pattern="/fan/**" access="ROLE_FAN,ROLE_ADMIN" />
		<security:intercept-url pattern="/user/**" access="ROLE_FAN,ROLE_ARTIST,ROLE_ADMIN" />
		<security:intercept-url pattern="/signup*" access="ROLE_ANONYMOUS" />
		<security:intercept-url pattern="/*signup" access="ROLE_ANONYMOUS" />
		<security:intercept-url pattern="/sign-up*" access="ROLE_ANONYMOUS" />
		<security:intercept-url pattern="/*sign-up" access="ROLE_ANONYMOUS" />
		<security:intercept-url pattern="/login" access="ROLE_ANONYMOUS" />
		<security:intercept-url pattern="/log*" access="ROLE_ANONYMOUS,ROLE_FAN,ROLE_ARTIST,ROLE_ADMIN" />
<!-- 		<security:intercept-url pattern="/j_spring_security_check" method="GET" /> -->
		<security:intercept-url pattern="/j_*" access="ROLE_ANONYMOUS,ROLE_FAN,ROLE_ARTIST,ROLE_ADMIN" />

		<security:form-login login-page='/login' login-processing-url="/j_spring_security_check" username-parameter="j_username"
			password-parameter="j_password" authentication-failure-url="/login?error=true" authentication-success-handler-ref="authenticationSuccessHandler" />
		<security:remember-me key="slmKey" token-validity-seconds="864000" user-service-ref="userDetailsService"
			remember-me-parameter="_spring_security_remember_me" />

		<security:session-management invalid-session-url="/login-form?session-expired" session-fixation-protection="migrateSession">
			<security:concurrency-control max-sessions="1" error-if-maximum-exceeded="true" expired-url="/login-form?session-expired"
				session-registry-alias="session-reg" />
		</security:session-management>

		<security:logout invalidate-session="true" logout-success-url="/login?logout=true" logout-url="/j_spring_security_logout"
			delete-cookies="SPRING_RM" />

	</security:http>

	<bean id="webSecurityExpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />
	
	<security:authentication-manager>
		<security:authentication-provider user-service-ref="userDetailsService">
			<security:password-encoder ref="pwdEncoder" />
		</security:authentication-provider>
	</security:authentication-manager>

	<beans:bean id="authenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<beans:property name="loginFormUrl" value="/login" />
	</beans:bean>

	<beans:bean id="rememberMeServices" class="org.springframework.security.web.authentication.rememberme.TokenBasedRememberMeServices">
		<beans:property name="userDetailsService" ref="userDetailsService" />
		<beans:property name="tokenValiditySeconds" value="864000" />
		<beans:property name="cookieName" value="SPRING_RM" />
		<beans:property name="key" value="slmKey" />
	</beans:bean>

	<beans:bean id="customAuthenticationSuccessHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationSuccessHandler">
		<beans:property name="defaultTargetUrl" value="/" />
	</beans:bean>

	<beans:bean id="authenticationSuccessHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
		<beans:property name="defaultTargetUrl" value="/" />
		<!-- After login, return to the last visited page -->
		<beans:property name="useReferer" value="true" />
	</beans:bean>

	<!-- for dev only : pwd are row password (no encodage) -->
	<beans:bean id="pwdEncoder" class="org.springframework.security.crypto.password.NoOpPasswordEncoder" lazy-init="false" />
	<!-- for dev only : pwd are decryptable -->
	<!-- <beans:bean id="pwdEncoder" class="jp.slm.business.util.PasswordCrypter" lazy-init="false" /> -->
	<!-- for prod : pwd are hashed (not possible to retrieved) -->
	<!-- <beans:bean id="pwdEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" lazy-init="false"/> -->

	<beans:bean id="pwdEncoderHolder" class="jp.slm.common.util.PasswordEncoderHolder" lazy-init="false">
		<beans:property name="pwdEncoder" ref="pwdEncoder" />
	</beans:bean>

	<beans:alias name="userServiceImpl" alias="userDetailsService" />

</beans>